<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<select id="login" resultType="com.kh.spring.member.model.dto.MemberDTO">
		SELECT
		       USER_ID userId
		     , USER_PWD userPwd
		     , USER_NAME userName
		     , EMAIL
		     , ENROLL_DATE enrollDate
		  FROM
		       MEMBER
		 WHERE
		       USER_ID = #{userId}
		       <!--
		   AND
		       USER_PWD = #{userPwd}
		       -->
	</select>
	<!-- 암호화했으므로 평문과 암호문이 일치하지 않으므로 이 로그인 select문을 쓸 수 없게 되었음 -->
	<!-- ID만 가지고 SELECT 하도록 변경(주석처리) -> 작동은 하겠지만 비밀번호 몰라도 로그인이 되어버림 -->
	<!-- 다시 서비스로 -->
	
	<insert id="signup"
			parameterType="com.kh.spring.member.model.dto.MemberDTO">
		INSERT
		  INTO
		       MEMBER
		VALUES
		       (
		       #{userId}
		     , #{userPwd}
		     , #{userName}
		     , #{email}
		     , SYSDATE
		       )
	</insert>

</mapper>