<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--
	settings에서 빈문자열같은거 왔을 때 널값으로 인지가 되도록 설정 태그 추가(settings 태그)
	클래스들 길게 쓰기 귀찮으니까 typeAliases
	매퍼 넣으려고 mappers 태그
	-->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
	
	</typeAliases>
	
	<!--
		원래 여기에 들어가야 할 것들
		environments, dataSource => DB연결정보
		근데 이제 여기서 안할거임! -> root-context.xml에서 작업
	-->
	
	<mappers>
		<mapper resource="/mapper/member-mapper.xml" />
	</mappers>

</configuration>